@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-size: 20px;
}

img {
    height: 100px;
    width: 100px;
}

.title {
    margin-right: 3%;
}

header {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.grid {
    list-style: none;
    margin-left: -40px;
}

.gc {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1.0px;
    padding-left: 0px;
    vertical-align: top;
}

.gc--1-of-3 {
    width: 33.33333%;
}

.gc--2-of-3 {
    width: 66.66666%;
}

.naccs {
    position: relative;
    max-width: 900px;
    margin: 100px auto 0;
}

.naccs .menu div {
    padding: 15px 20px 15px 40px;
    color: #000000;
    background: #cfe2f3;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid #000;
}

#item1 {
    border-top: 1px solid #000;
}

.naccs .menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 24px;
    left: 15px;
    background-color: #cfe2f3;
    border-radius: 100%;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
    background-color: #000000;
    left: 0;
    height: 100%;
    width: 1px;
    top: 0;
    border-radius: 0;
}

.naccs .menu div.active {
    color: rgb(216, 146, 238);
    background-color: #d9d2e9;
    padding: 15px 20px 15px 20px;
    border: none;
}

.footer {
    height: 8.55vh;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    justify-content: center;
    color: #000000;
    background: #cfe2f3;
    border: 1px solid #000;
}

ul.nacc {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #d9d2e9;
    padding: 5%;
    height: 50.2vh;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

ul.nacc li.active {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

ul.nacc li p {
    margin: 0;
}

@media (max-width: 1024px) {
    .naccs .menu div {
        padding: 5px 10px 5px 20px;
        width: 40%;
        margin-left: 60%;
    }
    .naccs .menu div span.text {
        padding-left: 5%;
    }
    ul.nacc li {
        height: 37.4vh;
        width: 60%;
        margin-left: 5%;
    }
    ul.nacc li p {
        font-size: 14px;
    }
    .footer {
        width: 43.3%;
        margin-left: 60%;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 7.45vh;
    }
    ul.nacc li p {
        font-size: 11px;
    }
}

@media (max-width: 370px) {
    ul.nacc li p {
        font-size: 9px;
    }
    .footer {
        height: 4.65vh;
        width: 47%;
        font-size: 12px;
    }
    .naccs .menu div span.text {
        font-size: 12px;
        padding-left: 15%;
    }
    ul.nacc li {
        margin-left: 12%;
    }
    h1 {
        font-size: 24px;
    }
}